body {
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:darkcyan;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

#link_button {
  background-color: lightgray;
  border-radius: 5px;
  border: 1px gray solid;
  margin: 10px;
  padding: 1px;
}

/* label {
  background-color: red;
  color: white;
} */

.page {
  display: flex;
  justify-content: center;
}

.centered-box {
  background-color: lightgrey;
  border-radius: 10px;
  padding: 10px;
}